{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    {% if posts %}
    {% for post in posts %}
    <div class="posts">
        <a href="{% url 'profile' post.user.id %}"><h4>{{ post.user.username }}</h4></a>
        <p>{{ post.content }}</p>
        <p>{{ post.time }}</p>
        {% if user.id in post.likes.users.id %}
            <p id="likepost" data-id="{{ post.id }}" data-like="-1">&#x1F90D;</p><p id="postlikes">{{ post.likes.like }}</p>
        {% else %}
            <p id="likepost" data-id="{{ post.id }}" data-like="1">&#x1F9E1;</p><p id="postlikes">{{ post.likes.like }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <div>
        <h4>No posts done by your following yet.</h4>
    </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}