{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div id="response"></div>
    <div>
        <h2>{{ poster.username }}</h2>
    </div>
    <div>
        <h4>Followers: {{ followers }}</h4>
        <h4>Follows: {{ follows }}</h4>
    </div>
    {% if user.id != poster.id %}
    <button id="follow" data-id="{{ poster.id }}">
        {% if poster.id in user.follows.id %}
        Unfollow
        {% else %}
        Follow
        {% endif %}
    </button>
    {% endif %}
    {% for post in posts %}
    <div class="posts">
        <p>{{ post.content }}</p>
        <p>{{ post.time }}</p>
        {% if user.is_authenticated %}
            {% if user.id in post.likes.users.id %}
            <p id="likepost" data-id="{{ post.id }}" data-like="-1">&#x1F90D;</p><p id="postlikes">{{ post.likes.like }}</p>
            {% else %}
            <p id="likepost" data-id="{{ post.id }}" data-like="1">&#x1F9E1;</p><p id="postlikes">{{ post.likes.like }}</p>
            {% endif %}
        {% else %}
            <p>&#x1F9E1; {{ post.likes.like }}</p>
        {% endif %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endfor %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}