{% extends "auctions/layout.html" %}

{% block body %}
    
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}
    {% if items %}
        <h2>Items in {{ category.category }} Category </h2>
        <div>
            {% for item in items %}
                {% if item.isclosed == False %}
                <div class="listing">
                    <div class="listingheader">
                        <img src="{{ item.image }}" alt="{{ item.name }}">
                    </div>
                    <div class="listingstatus">
                        <p id="title">
                            <a href="{% url 'listing' item.id %}">{{ item.name }}</a>
                        </p>
                        <span id="created">Created {{ item.time }}</span>
                        <p>Starting Price: ${{ item.startingbid }}</p>
                        <p><b>Highest Bid: </b>${{ item.highestbid.bid }}</p>
                        <p>{{ item.description }}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        

    {% else %}
        <h2>Category</h2>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Search Category">
            </form>
        </div>
    {% endif %}
{% endblock %}