{% extends "auctions/layout.html" %}

{% block body %}
    
    {% if error_message %}
    <h4>{{ error_message }}</h4>
    {% endif %}
    {% if items %}
        <h2>Items in {{ category.category }} Category: </h2>
        <div>
            <ul>
            {% for item in items %}
                {% if item.isclosed == False %}
                <li>
                    <h4>
                        <a href="{% url 'listing' item.id %}">{{ item.name }}</a>
                    </h4>
                    <div>
                        <h4><b>Highest Bid: </b>${{ item.highestbid.bid }}</h4>
                        <p>{{ item.description }}</p>
                        <p>Created {{ item.time }}</p>
                    </div>
                </li>
                {% else %}
                <li>
                    <h4>
                        <a href="{% url 'listing' item.id %}">{{ item.name }}</a>
                    </h4>
                    <div>
                        <h4><b>Auction for {{ item.name }} has been closed.</h4>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        

    {% else %}
        <h2>Category</h2>
        <div>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Search Category">
            </form>
        </div>
    {% endif %}
{% endblock %}