{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div>
        <ul>
        {% for list in listings %}
            <li>
                <h3>
                    <a href="{% url 'listing' list.id %}">{{ list.name }}</a>
                </h3>
                <div>
                    {% if list.isclosed == True %}
                    <h5>Auction is now closed.</h5>
                    <h5>A bid of ${{ list.highestbid.bid }} has won!</h5>
                    {% else %}
                    <img src="{{ list.image }}" alt="{{ list.name }}" height="80px">
                    <h5><b>Starting Price: </b>${{ list.startingbid }}</h5>
                    <h4><b>Highest Bid: </b>${{ list.highestbid.bid }}</h4>
                    <p>{{ list.description }}</p>
                    <p>Created {{ list.time }}</p>
                    {% endif %}
                </div>
            </li>
            <br>
        {% endfor %}
        </ul>
    </div>

{% endblock %}