{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div>
        {% for list in listings %}
            <div class="listing">
                <div class="listingheader">
                    <img src="{{ list.image }}" alt="{{ list.name }}">
                </div>
                <div class="listingstatus">
                    <p id="title">
                        <a href="{% url 'listing' list.id %}">{{ list.name }}</a>
                    </p>
                    {% if list.isclosed == True %}
                    <p>Auction is now closed.</p>
                    <p>A bid of ${{ list.highestbid.bid }} has won!</p>
                    {% else %}
                    <span id="created">Created {{ list.time }}</span>
                    <p>Starting Price: ${{ list.startingbid }}</p>
                    <p><b>Highest Bid: </b>${{ list.highestbid.bid }}</p>
                    <p>{{ list.description }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}