{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ item.name }}</h2>
    {% if youbid %}
    <h3>
        {{ youbid }}
    </h3>
    {% endif %}

    <div>
        <img src="{{ item.image }}" alt="{{ item.name }}" height="200px">
        <p>Category: {{ item.category.category }}</p>
        {% if user.is_authenticated %}
        <form action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ item.id }}" name="id">
            {% if item_in_watchlist %}
            <input type="submit" value="Remove from Watchlist">
            {% else %}
            <input type="submit" value="Add to Watchlist">
            {% endif %}
        </form>
        {% endif %}
        <h6>{{ item.description }}</h6>
    </div>
    <div>
        <span id="created">Item listed by {{ item.user.username }} on {{item.time}}.</span>
        <p><b>Starting Price: </b>${{ item.startingbid }}</p>
        {% if user.is_authenticated %}
            {% if item_by_user %}
            <form action="{% url 'removelisting' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ item.id }}" name="id">
                <input type="submit" value="Close Auction">
            </form>
            {% endif %}
        {% endif %}
        <h4><b>Highest Bid: </b>${{ item.highestbid.bid }}</h4>
        <h6>Highest Bid by {{ item.highestbid.user.username }}.</h6>
        <p>There have been {{ bids }} bids made on this item.</p>

        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <input type="number" min_value="{{ item.highestbid.bid }}" name="bid">
            <input type="submit" value="Place Bid">
        </form>
        {% endif %}
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    </div>
    {% if comments %}
        <div class="comments">
            <h3>
                Comments:
            </h3>
            {% for comment in comments %}
                <div class="comment">
                    <p>
                        {{ comment.comment }}
                    </p>
                    <span id="created">
                        {{ comment.time }} by {{ comment.user }}
                    </span>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="comments">
            <h4>
                No Comments yet.
            </h4>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="addcomment">
        <form action="{% url 'comment' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="hidden" value="{{ item.id }}" name="itemid">
            <input type="submit" value="Add Comment">
        </form>
    </div>
    {% endif %}
{% endblock %}