{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Bids</h2>

    <div>
        {% for bid in bids %}
            {% if bid.item.isclosed == False %}
                <div class="bid">
                    <p>
                        <a href="{% url 'listing' bid.item.id %}">{{ bid.item.name }}</a>
                    </p>
                    <p><b>My Bid: </b>${{ bid.bid }}</p>
                    <p>Current highest bid: ${{ bid.item.highestbid.bid }}</p>
                    <span id="created">Bid on {{ bid.time }}.</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}