{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Bids:</h2>

    <div>
        <ul>
            {% for bid in bids %}
                {% if bid.item.isclosed == False %}
                <li>
                    <div>
                        <h4>
                            <a href="{% url 'listing' bid.item.id %}">{{ bid.item.name }}</a>
                        </h4>
                        <h4><b>My Bid: </b>${{ bid.bid }}</h4>
                        <h4><b>Current highest bid: </b>${{ bid.item.highestbid.bid }}</h4>
                        <p>Bid on {{ bid.time }}.</p>
                    </div>
                </li>
                {% else %}
                <li>
                    <h4>
                        <a href="{% url 'listing' bid.item.id %}">{{ bid.item.name }}</a>
                    </h4>
                    <div>
                        <h4><b>The auction for {{ bid.item.name }} has closed.</h4>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}