{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Listings</h2>

    <div>
        {% for list in listings %}
        <div class="listing">
            <div class="listingheader">
                <img src="{{ list.image }}" alt="{{ list.name }}">
            </div>
            <div class="listingstatus">
                {% if list.isclosed == False %}
                <p id="title">
                    <a href="{% url 'listing' list.id %}">{{ list.name }}</a>
                </p>
                <span id="created">Created {{ list.time }}</span>
                <p>Starting Price: ${{ list.startingbid }}</p>
                <p><b>Highest Bid: </b>${{ list.highestbid.bid }}</p>
                <p>{{ list.description }}</p>
                {% else %}
                <p>
                    <a href="{% url 'listing' list.id %}">{{ list.name }}</a>
                </p>
                <p><b>You have closed the auction for {{ list.name }} at ${{ list.highestbid.bid }}.</b></p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}