{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Listings:</h2>

    <div>
        <ul>
            {% for list in listings %}
                {% if list.isclosed == False %}
                <li>
                    <div>
                        <h3>
                            <a href="{% url 'listing' list.id %}">{{ list.name }}</a>
                        </h3>
                        <div>
                            <img src="{{ list.url }}" alt="{{ list.name }}" width="50" height="50">
                            <h5><b>Starting Price: </b>${{ list.startingbid }}</h5>
                            <h4><b>Highest Bid: </b>${{ list.highestbid.bid }}</h4>
                            <p>{{ list.description }}</p>
                            <p>Created {{ list.time }}</p>
                        </div>
                    </div>
                </li>
                {% else %}
                <li>
                    <h4>
                        <a href="{% url 'listing' list.id %}">{{ list.name }}</a>
                    </h4>
                    <div>
                        <h4><b>You have closed the auction for {{ list.name }} at ${{ list.highestbid.bid }}.</h4>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>            
    </div>
    
{% endblock %}