{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist:</h2>
    {% if items %}
    <div>
        {% for item in items %}
        <div class="listing">
            <div class="listingheader">
                <img src="{{ item.image }}" alt="{{ item.name }}">
            </div>
            <div class="listingstatus">
                <p id="title">
                    <a href="{% url 'listing' item.id %}">{{ item.name }}</a>
                </p>
                {% if item.isclosed == False %}
                    <span id="created">Created {{ item.time }}</span>
                    <p>Starting Price: ${{ item.startingbid }}</p>
                    <p><b>Highest Bid: </b>${{ item.highestbid.bid }}</p>
                    <p>{{ item.description }}</p>
                {% else %}
                <p><b>Auction for {{ item.name }} has been closed.</b></p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No items on your watchlist yet.</p>
    {% endif %}
    </div>
{% endblock %}